*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

body{
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.post{
    background-color: white;
    height: 650px;
    width: 600px;
    display:flex;
    flex-direction: column;
}

header{
    align-items: center;
    display: flex;
    height: 10%;
    width: 100%;
    
}

#html{
    font-size: 30px;
}
.point-content{
    margin-left: auto;
    display: flex;
    align-items: center;
}
#point{
    font-size: 30px;
}

.galery{
    height: 60%;
    width: 100%;
    display: flex;
}

.img-g{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description{
    height: auto;
    width: 100%;
    display: flex;
    margin-left: 5px;
}


 .description  i{
    
    padding-top: 10px;
    font-size: 20px;
    
 }

 #ico-save{
   margin-left: auto;
   margin-right: 10px;
 }

 .comentary{
    margin-top: 40px;
    margin-left: 5px;
 }

 
